{% extends "blog_base.html" %}

{% block page_header %}
    post list
{% endblock page_header %}

{% block content %}
    <div class="row mb-3">
        <div class="col-12">
            {% include "_form.html" with form_method="get" form=post_filter.form %}
        </div>
    </div>

    {% if perms.blog.add_post %}
        <a class="btn btn-primary"
           href="{% url "blog:post-create" %}"
           role="button">Post Create</a>
    {% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    Title
                </th>
                <th scope="col">
                    Created At
                </th>
                <th scope="col">
                    Category
                </th>
                <th scope="col">
                    Tags
                </th>
                <th scope="col">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            {% for post in post_filter.qs %}
                <tr>
                    <th scope="row">
                        {{ post.id }}
                    </th>
                    <td>
                        {{ post.title }}
                    </td>
                    <td>
                        {{ post.created_at }}
                    </td>
                    <td>
                        {{ post.category.name }}
                    </td>
                    <td>
                        {{ post.tags.all|join:", " }}
                    </td>
                    <td>
                        <a href="{% url "blog:post-detail" pk=post.pk %}"
                           class="btn btn-info btn-sm"
                           role="button">view</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <th colspan="4">
                        No post yet.
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
