{% extends "blog_base.html" %}

{% block page_header %}
    {{ post.title }}
{% endblock page_header %}

{% block content %}
    {% if perms.blog.change_post %}
        <a class="btn btn-primary mb-4"
           href="{% url "blog:post-update" pk=post.pk %}"
           role="button">Update</a>
    {% endif %}

    {% if perms.blog.delete_post %}
        <a class="btn btn-outline-danger mb-4"
           href="{% url "blog:post-delete" pk=post.pk %}"
           role="button">Delete</a>
    {% endif %}

    {{ perms.blog.change_post_status }}
    {{ perms.blog.soft_delete_post }}

    {% if post.image %}
        <p>
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
        </p>
    {% endif %}

    {{ post.content|linebreaks }}
    <hr>

    {{ post.tags.all|join:", " }}
    <hr>

    {{ post.category.name }}
    <hr>

    <h3>
        留言區
    </h3>

    <div class="card mb-3">
        <ul class="list-group list-group-flush">
            {% for comment in post.comments.all %}
                <li class="list-group-item">
                    #{{ forloop.counter }}
                    <p>
                        {{ comment.nick_name }}:
                    </p>

                    {{ comment.content|linebreaks }}

                    <p>
                        At: {{ comment.created_at }}
                    </p>
                </li>
            {% empty %}
                <li class="list-group-item text-center">
                    目前這篇文章沒有任何留言
                </li>
            {% endfor %}
        </ul>
    </div>

    {% url "blog:post-create-comment" post_pk=post.pk as form_action %}
    {% include "_form.html" with form=comment_form form_action=form_action %}
{% endblock content %}
