{% extends "blog_base.html" %}

{% block page_header %}
    {% comment %} {% url "blog:tag-create" as tag_create_url %}
    {% url "blog:tag-update" pk=object.pk as tag_update_url %}

    {% if request.path == tag_create_url %}
        tag create
    {% elif request.path == tag_update_url %}
        tag update
    {% else %}
        tag form
    {% endif %} {% endcomment %}

    {% if not object %}
        tag create
    {% else %}
        tag update
    {% endif %}
{% endblock page_header %}

{% block page_size %}
    col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4
{% endblock page_size %}

{% block content %}
    {% include "_form.html" with show_form_cancel_button=True %}
{% endblock content %}
